@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Quicksand", sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}
  
/* NAVBAR */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: var(--nav-bg-color);
    position: fixed;
    top: 0;
    width: 100%;
}

.menu__logo {
    width: 170px;
}

.menu__list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 40px;
}

.menu__item:nth-child(1) {
    padding: 8px 25px;
}

.menu__link {
    text-decoration: none;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu__item:nth-child(2) .menu__link {
    padding: 8px 25px;
    background-color: var(--tertiary-color);
    border-radius: 20px;
    transition: background 1s, color 1s;
}

.menu__item:nth-child(2) .menu__link:hover {
    background-color: #fff;
    color: #000;
}

/* HEADER */

.header {
    padding: 100px 0 0;
    margin-top: 59px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite alternate;
}

.header__transition {
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, transparent, var(--primary-color));
}

.header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    
}

.header__channels {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.header__title {
    font-size: 3rem;

}

.header__title--light {
    display: block;
    font-weight: lighter;
    font-size: 2rem;
}

.header__divider {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
}

.header__price {
    font-size: 1.3rem;
}

.header__price--big {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}

.header__btn {
    letter-spacing: 2px;
    font-weight: bold;
    padding: 15px 50px;
    border: 2px solid transparent;
    border-radius: 45px;
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    animation: wiggle 3s ease-out infinite;
    transition: background-position 1s, border .5s;
}

.header__btn:hover {
    background-position: 100%;
    border: 2px solid var(--secondary-color);
}

.header__note {
    max-width: 300px;
    font-weight: 300;
}

/* PLANS SECTION */

.plans {
    width: 100%;
    background: url('../images/background-movies-series.png') no-repeat;
    background-size: cover;
}

.plans_container {
    max-width: 1200px;
    margin: auto;
}

.plans__title {
    font-weight: normal;
    font-size: 2.1rem;
    text-align: center;
    margin-top: 20px;
}

.plans__cards {
    display: flex;
    gap: 80px;
    margin: 50px 0 150px;
    perspective: 1500px;
    perspective-origin: top;
}

.plans__card {
    background: var(--card-bg-color);
    padding: 40px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;
    transition: transform 1s;
}

.plans__cards:has(.plans__card:nth-child(1):hover) .plans__card:nth-child(2) {
  transform: rotateY(-45deg);
}

.plans__cards:has(.plans__card:nth-child(2):hover) .plans__card:nth-child(1) {
  transform: rotateY(45deg);
}

.card__title {
    display: flex;
    justify-content: space-between;
}

.card__title h3 {
    font-size: 1.5rem;
}

.card__title--big {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: var(--secondary-color);
}

.card__benefits {
    list-style: none;
    font-size: 1.3rem;
}

.card__benefits li {
    margin-top: 20px;
}

.card__benefits li::before {
    content: '+';
    margin-right: 10px;
    color: white;
    font-size: 2rem;
    vertical-align: middle;
}

.card__button {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    transition: background-position 1s, border .5s, transform 1s;
}

.card__button:hover {
    background-position: 100%;
    border: 2px solid var(--secondary-color);
    transform: scale(1.1);
    cursor: pointer;
}

/* UNIVERSES SECTION */

.universes {
    max-width: 1200px;
    margin: 0 auto;
}

.universes__title {
    font-weight: normal;
    font-size: 2.1rem;
    text-align: center;
    margin-top: 20px;
}

.universes__channels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.channel {
    box-sizing: content-box;
    width: 370px;
    height: 555px;
    margin-top: 40px;
    border-radius: 10px;
    transition: background 1s, transform 1s;
}

.channel img {
    width: 100%;
    height: auto;
    transition: opacity 1s;
}
.channel:hover img {
    opacity: 0;
}

/* HBO */
.channel:nth-child(1) {
    background: url('../images/hbo-hover_0.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.channel:nth-child(1):hover {
    transform: scale(1.05);
}

/* MAX ORIGINALS */
.channel:nth-child(2) {
    background: url('../images/MAX-Hover.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.channel:nth-child(2):hover {
    transform: scale(1.05);
}

/* DC */
.channel:nth-child(3) {
    background: url('../images/DC-Hover.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.channel:nth-child(3):hover {
    transform: scale(1.05);
}

/* WB */
.channel:nth-child(4) {
    background: url('../images/WB-Hover.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.channel:nth-child(4):hover {
    transform: scale(1.05);
}

/* CARTOON NETWORK */
.channel:nth-child(5) {
    background: url('../images/CN-Hover.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.channel:nth-child(5):hover {
    transform: scale(1.05);
}

/* CHAMPIONS LEAGUE */
.channel:nth-child(6) {
    background: url('../images/UCL-Hover.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.channel:nth-child(6):hover {
    transform: scale(1.05);
}


@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    5% {
        transform: rotate(-10deg);
    }
    10% {
        transform: rotate(10deg);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(15deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30%, 100% {
        transform: rotate(0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}